<html>
   <body>
   
      <form action = "{{ url_for('result') }}" method = "POST">
 		<h2>SimpleCI Input Template Creation Form </h2>
		<table>
			<th><h3>Bit Bucket</h3></th>
			<tr>
				<td>Project:
				<td><input type ="text" name = "bproject" maxlength="20" required/>
			</tr>
			<tr>
				<td>ServerUrl:
				<td><input type ="url" name = "bserverUrl" required />
			</tr>
			<tr>
				<td>Username:
				<td><input type = "text" name = "busername" required/>
			</tr>
			<tr>
				<td>Password:
				<td><input type = "password" name = "bpassword" required/>
			</tr>
		</table>
		<table>
			<th><h3>Global Pipeline</h3></th>
			<tr>
				<td>GithubURL: 
				<td><input type = "url" name = "ggithubURL" value="https://github.com/devopsnext/simpleci-shared-library.git" required/>
			</tr>
			<tr>
				<td>LibraryName: 
				<td><input type = "text" name = "glibraryName" value="global-shared-library" maxlength="50" required/>
			</tr>
			<tr>
				<td>Version: 
				<td><input type = "text" name = "gversion" value="master" maxlength="10" required/>
			</tr>
		</table>
		 <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
