bitbucketConfig {
   bitbucket_server {
   	  project 		= "{{ bproject }}"
	  serverUrl 	= "{{ bserverUrl }}"
	  username 		= "{{ busername }}"
	  password 		= "{{ bpassword }}"
    }
}
sharedLibrary {
   global_pipeline {
      githubURL 	= "{{ ggithubURL }}"
      libraryName 	= "{{ glibraryName }}"
	  version 		= "{{ gversion }}"
    }
}